---
import ContentList from '@/components/ContentList.astro'
import TagList from '@/components/TagList.astro'
import { defaultLocale } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag } from '@/utils/content'

export async function getStaticPaths() {
  type PathItem = {
    params: { tags_tag: string }
    props: { tag: string, lang: string }
  }

  const paths: PathItem[] = []

  // Default locale
  const defaultTags = await getAllTags(defaultLocale)
  defaultTags.forEach((tag: string) => {
    paths.push({
      params: { tags_tag: `tags/${tag}/` },
      props: { tag, lang: defaultLocale },
    })
  })

  return paths
}

const { tag, lang } = Astro.props
const posts = await getPostsByTag(tag, lang)
const allTags = await getAllTags(lang)
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />
  <!-- Tag List -->
  <TagList
    tags={allTags}
    currentTag={tag}
  />

  <!-- Content List -->
  <div class="mt-10.5">
    <ContentList
      items={posts}
    />
  </div>
</Layout>
